<body class="hindex">
  <div class="container" id="contindex">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-2"><%= link_to 'checkr', home_checkr_path, :class => "btn btn-primary-md", id: "btncheckr" %></div>
        <div class="col-md-4"><%= link_to 'flyn', home_flyn_path, :class => "btn btn-primary-md", id: "btnflyn" %></div>
      </div>
    </div>
  </div>
</body>
